<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>CRUD</title>
</head>
<body>
<div class="row">
    <div class="col-sm-8">
    <form th:object="${mahasiswa}" th:action="@{/datasiswa/create}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{version}">
        <div class="form-group">
            <label class="col-sm-2 control-label">Nama:</label>
            <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{nama}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Npm : </label>
            <div class="col-sm-10">
            <input class="form-control" type="number" th:field="*{npm}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Umur : </label>
            <div class="col-sm-10">
            <input class="form-control" type="number" th:field="*{umur}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Alamat : </label>
            <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{alamat}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Kelas : </label>
            <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{kelas}"required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Prodi : </label>
            <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{prodi}"required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"> Jurusan : </label>
            <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{jurusan}"required>
            </div>
        </div>
        <br>
        <div class="form-group">
        <button type="submit">submit</button>
        </div>
    </form>
        <form th:action="@{/datasiswa}">

            <br>
            <div class="form-group">
                <button type="submit">Kembali</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>